.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 60px;
}

.mainAppDiv{
  width: 60%;
  background-color: white;
  padding: 50px;
  padding-top: 10px;
  margin-left: 17%;
  border-radius: 20px;
  /* margin-top: 20px; */

}
.addBtn{
  margin-left: 10px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
}

.inputTextBox{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
  height: 30px;
  padding-left: 10px;
}
.singleListItem{
  background-color: teal;
  padding: 20px;
  margin-bottom: 20px;
  color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  font-style: italic;
}



.deleteBtn{
  float: right;
}
